<html ng-app="demo">

<head>
    <style>
        .image-container .image1 {
            width: 200px;
            height: 200px;
        }
    </style>

</head>

<body>
    <div ng-controller="demoController" class="image-container">
        <input ng-click="image1=image2" type="button" value="change"/>
        <input ng-click="image1='http://www.gettyimages.in/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_9583.jpg'" type="button" value="Error Image"/>
        <div imgliquid imgliquid-option="check" class="image1">
            <img ng-src="{{image1}}"  />
        </div>


    </div>
    <script src="jquery-1.11.3.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="imgLiquid.js"></script>
    <script src="angular-img-liquid.js"></script>
    <script>
        (function () {
            'use strict';
            angular
                .module('demo', ['angular-img-liquid'])


            angular
                .module('demo')
                .controller('demoController', demoController);

            demoController.$inject = ['$scope'];

            /* @ngInject */
            function demoController($scope) {
                var vm = this;
                vm.property = 'demoController';


                activate();

                ////////////////

                function activate() {
                    
                    $scope.defaultImage="http://www.paolobugatti.com/img/img-default.png"
                    $scope.image1="http://www.ecs.umass.edu/mie/tcfd/Programs/picture3.JPG"
                    $scope.image2="http://www.gettyimages.in/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_462809583.jpg"
                    $scope.check = {
                        "fill": true,
                        "useBackgroundSize": false,
                        onItemError: function (index, container, img) {
                            console.log(img)
                            img.attr("src",$scope.defaultImage)
                        }
                    }

                }
            }
        })();
    </script>
</body>

</html>